package about

import "main.go/views/layout"

templ Show(partial bool) {
	@layout.Base(partial) {
		<div>
			<h1 class="max-6-xs text-8xl my-16">About Page</h1>
			<p class="mt-8">About</p>
		</div>
	}
}
