<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/assets/main.css" rel="stylesheet" />
        <script
            src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"
        ></script>
        <title>{% block title %}{{ title }}{% endblock %}</title>
        {% block head %}{% endblock %}
    </head>
    <body
        class="min-h-screen bg-gradient-to-br from-slate-800 to-slate-700 p-12 font-thin text-gray-50"
    >
        <div
            class="min-h-[calc(100vh-96px)] flex flex-col border border-gray-50"
        >
            <nav class="sticky top-0 backdrop-blur-sm">
                <ul class="container flex items-center p-4 select-none">
                    <li
                        hx-get="/home"
                        hx-push-url="true"
                        hx-target="#content"
                        hx-swap="innerHTML transition:true"
                        class="mx-1.5 sm:mx-6 border-transparent border-b hover:border-gray-50 cursor-pointer"
                    >
                        Home
                    </li>
                    <li
                        hx-get="/blog"
                        hx-push-url="true"
                        hx-target="#content"
                        hx-swap="innerHTML transition:true"
                        class="mx-1.5 sm:mx-6 border-transparent border-b hover:border-gray-50 cursor-pointer"
                    >
                        Blog
                    </li>
                    <li
                        hx-get="/about"
                        hx-push-url="true"
                        hx-target="#content"
                        hx-swap="innerHTML transition:true"
                        class="mx-1.5 sm:mx-6 border-transparent border-b hover:border-gray-50 cursor-pointer"
                    >
                        About
                    </li>
                </ul>
            </nav>
            <main
                class="flex self-center items-center flex-col mx-auto p-4 text-left"
            >
                <div id="content">{% block content %}{% endblock %}</div>
            </main>
        </div>
    </body>
</html>
