<!-- prettier-ignore -->
{% extends "base.html" %}

{% block title %}Hello!{% endblock %}

{% block content %}

<div>
    <h1 class="max-6-xs text-8xl my-16 leading-[8rem]">
        Yo, <br />
        I'm Sibin
    </h1>
    <p class="mt-8 text-lg">
        I'm a software dev, a writer, a mathematician, a musician, a brother, a
        partner and a bunch of other meaningless labels.
        <br />
        I guess you're here to check out some of the stuff I've worked on.
        <br />
        Welcome.
        <br />
        And have a great day.
    </p>
</div>

{% endblock %}
